@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<table class="table table-bordered">

    <tr>
        <td>
            <label asp-for="Name"></label>
        </td>
        <td> @Model.Name </td>
    </tr>
    <tr>
        <td>
            <label asp-for="Salary"></label>
        </td>
        <td> @Model.Salary </td>
    </tr>

    <tr>
        <td>
            <label asp-for="Email"></label>
        </td>
        <td> @Model.Email </td>
    </tr>

    <tr>
        <td>
            <label asp-for="HDate"></label>
        </td>
        <td> @Model.HDate.ToShortDateString() </td>
    </tr>
    <tr>
        <td>
            <label asp-for="IsActive"></label>
        </td>
        <td>
            @if (Model.IsActive)
            {
                <span class="text-success"> Active</span>
            }
            else
            {
                <span class="text-danger"> Non-Active</span>
            }
        </td>
    </tr>

</table> 
